
{% extends 'base.html' %}
{% load static %}
{% block title %}О нас{% endblock title %}

{% block content %}

<h1>О нас</h1>
<img class="image_about" src="{% static 'images/about.jpg' %}" alt="about">
<p class="ab_us">
    <span>SevenTrip</span>
    — это не просто о путешествиях, это о людях, которые их создают. <br>
     Мы с большим вниманием и заботой относимся к каждому, <br>
     кто доверяет нам своё время для новых открытий и качественной перезагрузки. <br>
     Готовы прокачать ваши эмоции на максимум?<br>
</p>
<p style="height: 20px"></p>
{% endblock %}
