{% extends 'base.html' %}

{% block title %}Бронирование{% endblock title %}
{% block content %}
<h1>Бронирование</h1>

{% if customer %}
    {% if flag %}
        <h4>{{ customer }}, вы уже бронировали тур "{{ tour_name }}"!</h4><br>
        <h4>Выберете другой <a class="links" href="{% url 'tours' %}">тур</a> или перейдите на <a class="links" href="{% url 'home' %}">главную страницу</a></h4>
    {% else %}
        <h4>{{ customer }}, вы успешно забронировали тур "{{ tour_name }}"!</h4><br>
        <h4>Можете выбрать другой <a class="links" href="{% url 'tours' %}">тур</a> или вернуться на <a class="links" href="{% url 'home' %}">главную страницу.</a></h4>
    {% endif %}
{% else %}
    <h4>Чтобы забронировать тур, <a class="links" href="{% url 'login' %}">войдите</a> или <a class="links" href="{% url 'register' %}">зарегистрируйтесь!</a></h4>
    <h4>При регистрации получите приветственный бонус. Скидка 10% на первое бронирование!!!</h4>
    <h4>Если хотите купить тур без регистрации, заполните форму ниже и оставьте заявку. Мы обязательно с вами свяжемся!</h4>
    {% if form %}
        <div class="form-container">  
            <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button style="width: 200px;" type="submit">Оставить заявку</button>
            </form>
        </div>
    {% endif %}
{% endif %}
{% endblock %}
