{% extends 'base.html' %}
{% block title %}Главная{% endblock title %}
{% block content %}

<h1 class="promo_name">SevenTrip</h1>
<h2 class="promo_sub">ПРОКАЧАЕМ ТВОИ ЭМОЦИИ НА МАКСИМУМ</h2>

<div class="form-group">
    <form method="post" class="calendar">        
            {% csrf_token %}
            {{ calendarform.as_table }}
        <button type="submit">Найти</button>
    </form>
</div> 

<div class="main_tours">
    {% if data %}
        <h3 style="top: 300px; left: 830px;">Туры на ближайшие выходные</h3>
        
            {% for item in data %}
            <div class="tours_weekend">
                <p><a class="links"  href="{{ item.get_absolute_url }}">{{ item.tour_name }}</a></p>
                <p><a class="links"  href="{{ item.get_absolute_url }}"><img class="photo_tour" src="{{item.photo_tour.url}}"></a></p>
            </div>
            {% endfor %}
    {% else %}
        <h2 style="top: 300px; left: 750px;">Нет туров на ближайшие выходные</h2>
    {% endif %}
</div>
<p style="margin-bottom: 370px;"></p>

{% endblock %}
