{% extends 'base.html' %}

{% block title %}Login{% endblock title %}
{% block content %}
<h1 style="left: 1000px;">Вход</h1>
{% if form %}
<div class="form-container">  
<form method="post">
  {% csrf_token %}
  <table>
    {{ form.as_p }}
  </table>
  <button style="width: 200px;" type="submit">Вход</button>
</form>
</div>
<h3 class="regist_error" style="left: 970px;">{{ message }}</h3>
{% else %}
    <h5 style="left: 950px">Вы успешно вошли</h5>
    <h5>Теперь вы можете бронировать <a class="links" href="{% url 'tours' %}">туры.</a></h5>
{% endif %}
{% endblock %}
