{% extends 'base.html' %}

{% block title %}Login{% endblock title %}
{% block content %}
<h1 style="left: 1000px;">Вход</h1>
{% if form %}
<div class="form-container">  
<form method="post">
  {% csrf_token %}
    {{ form.as_p }}
  <button style="width: 200px;" type="submit">Вход</button>
</form>
</div>
    {% if message %}
        <h3 class="regist_error" style="left: 550px;">{{ message }} Пожалуйста, <a class="links" href="{% url 'register' %}">зарегистрируйтесь</a>.</h3>
    {% endif %}
{% else %}
    <h5 style="left: 950px">Рады видеть вас, {{customer}}!</h5>
    <h5>Теперь вы можете бронировать <a class="links" href="{% url 'tours' %}">туры.</a></h5>
{% endif %}
{% endblock %}
