{% extends 'base.html' %}

{% block title %}Регистрация{% endblock title %}
{% block content %}
<h1>Регистрация</h1>
{% if form %}
    <div class="form-container">
        <form method="POST">
            {% csrf_token %}
        <table>
            {{ form.as_table }}
            {{ field.errors }}
        </table>
        <button style="width: 300px;" type="submit">Регистрация</button>
        </form>
    </div>
    <h4 class="regist_error">{{error}}</h4>
{% else %}
    <h5>Вы успешно зарегистрировались!</h5>
    <h5>Теперь вы можете бронировать <a class="links" href="{% url 'tours' %}">туры.</a></h5>
{% endif %}
{% endblock %}
