{% extends 'base.html' %}
{% block title %}Отзывы{% endblock title %}

{% block content %}
<h1>Отзывы</h1>
<div class="form-container" style="left: 635px;">
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
    {{ form.as_p}}
  <button style="width: 200px;" type="submit">Добавить отзыв</button>
</form>
</div>
{% if data %}
    {% for item in data %}
        <div class="ab_us" style="margin-left: 670px;">
            <p>{{ item.date_review }}</p>
            <p>{{ item.user }}</p>
            <p><img class="photo_review" src="{{item.photo.url}}"></p>
            <p>{{ item.review }}</p>
        </div>
    {% endfor %}
    <p style="height: 20px"></p>
{% else %}
    <h4>Отзывов пока нет, но они обязательно появятся в скором времени!!!</h4>
{% endif %}
{% endblock %}