{% extends 'base.html' %}

{% if data_tour %}

{% block title %}{{ data_tour.tour_name }}{% endblock title %}
{% block content %}

{% load static %}
<style>
    body {
        background-image: url("{% static 'images/bg1.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>


    <h2 class="title_tour">{{ data_tour.tour_name }}</h2>
    <p><img class="photo_tour" src="{{data_tour.photo_tour.url}}"></p>
    <div class="show_tour">   
    <p>{{ data_tour.description }}</p>
    <p>Экскурсии: <br>
        {% if data_excursion %}
     {% for item in data_excursion %} <a class="links"  href="{{ item.get_absolute_url }}">{{ item.excursion_name }} </a><br>{% endfor %}{% else %}нет{% endif %}</p>

    <p>Начало тура: {{ data_tour.start_date }}</p>
    <p>Конец тура: {{ data_tour.end_date }}</p>
    <p>Отель: <a class="links"  href="{{ data_hotel.get_absolute_url }}">{{ data_hotel.hotel_name }}</a></p>
    <p>Трансфер:       
            <p>Тип транспорта: {{data_transport.transport_type}}</p>
            <p>Компания: {{data_transport.company_name}}</p>
            <p>Номер рейса: {{data_transport.flight_number}}</p>
            <p>Время отправления: {{data_transport.departure_time}}</p>
            <p>Время прибытия: {{data_transport.arrival_time}}</p>
    </p>   
    <p>Цена: {{ data_tour.price }}</p>
    <button class="button_booking" type="button"><a class="links_btn" href="{% url 'booking' %}">Забронировать</a></button>
</div>
{% endblock %}
{% else %}
    <h2>Нет такого тура</h2>
{% endif %}
