{% extends 'base.html' %}

{% if data %}

{% block title %}{{ data.excursion_name }}{% endblock title %}
{% block content %}

{% load static %}
<style>
    body {
        background-image: url("{% static 'images/mutnoesteklo.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

    <h2 class="title_tour">{{ data.excursion_name }}</h2>
    <p><img class="photo_tour" src="{{data.photo_excur.url}}"></p>  
    <div class="show_tour">   
    <p>{{ data.description }}</p>
    <p>Дата экскурсии: {{ data.excursion_date }}</p>
    <p>Цена: {{ data.price }}</p>
    <p>Входит в туры: <br>
        {% if data_tours %}
     {% for item in data_tours %} <a class="links"  href="{{ item.get_absolute_url }}">{{ item.tour_name }} </a><br>{% endfor %}{% else %}нет{% endif %}</p>
</div>
{% endblock %}
{% else %}
    <h2>Нет такой экскурсии</h2>
{% endif %}
