{% extends 'base.html' %}
{% if data %}
{% block title %}{{ data.hotel_name }}{% endblock title %}

{% block content %}

{% load static %}
<style>
    body {
        background-image: url("{% static 'images/mutnoesteklo.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

    <h2 class="title_tour">{{ data.hotel_name }}</h2>
    <p><img class="photo_tour" src="{{data.photo_hotel.url}}"></p>  
    <div class="show_tour">   
    <p>Адрес: {{ data.address }}</p>
    <p>Рейтинг: {{ data.rating }}</p>
    <p>Телефон: {{ data.contact_number }}</p>
</div>
{% endblock %}
{% else %}
    <h2>Нет такой отеля</h2>
{% endif %}
